<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.example.test.domain.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <select id="selectAllByPage" resultType="student" >

 select * from student
     <where>
       <if test="name !=null and name !=''">
       and name like concat('%', #{name}, '%')
       </if>
       <if test="age !=null and age !=''">
         and age  > #{age}
       </if>
     </where>
limit #{start},#{limit}
  </select>
  <select id="selectCount2" resultType="int">
    select count(*) from student

  </select>
  <select id="selectAll2" resultType="com.example.test.domain.Student">

  select * from student

  limit #{start},#{limit}
  </select>
</mapper>